/* General Reset */
html, body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
    color: #333;
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .column {
    width: 40px;
}

header.scrolled {
    background-color: rgba(139, 69, 19, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
}

nav a {
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #631717;
}

nav img {
    width: 55px;
    height: auto;
}

/* Menu Icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: auto;
}

/* Hero Section */
.delivery-hero {
    height: 80vh;
    background: url('/public/content/pexels-karolina-grabowska-5240023.jpg') no-repeat center center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.delivery-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.delivery-hero h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    z-index: 1;
}

.delivery-hero p {
    font-size: 1.5em;
    z-index: 1;
}

/* Delivery Links Section */
.delivery-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
}

.delivery-container {
    max-width: 1200px;
    gap: 150px;
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.delivery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%; 
    margin: 20px;
    gap: 10px;
    text-align: left;
}

.delivery-text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #8B4513;
    margin-bottom: 10px;
}

.delivery-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.delivery-text ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    font-family: 'Quicksand', sans-serif;
}


.delivery-cards {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.delivery-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delivery-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.delivery-card img {
    width: 150px; 
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.delivery-card img.deliveroo-icon {
    transform: scale(1.6); 
}

.delivery-card a {
    text-decoration: none;
    display: block;
}

.ubereats-icon:hover img {
    transform: scale(1.1); 
}

.hr-line {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #8B4513, transparent);
    margin: 2px 15px;
}

/* Pickup Section */
.pickup-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    margin: 50px 20px;
}

.pickup-container {
    max-width: 1200px;
    margin: 0 40px;
    display: flex;
    align-items: center;
    gap: 150px;
}

.pickup-image {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pickup-image img {
    width: 100%;
    max-width: 550px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pickup-image img:hover {
    transform: scale(1.05);
}

.pickup-content {
    flex: 1 1 400px;
    text-align: left;
}

.pickup-content h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #8B4513;
    margin-bottom: 20px;
}

.pickup-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

.pickup-content ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    font-family: 'Quicksand', sans-serif;
}

.address-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.6s ease-in-out, text-decoration 0.6s ease-in-out;
}

.pickup-content .address-link{
    color: #631717;
}

.pickup-content .address-link:hover {
    text-decoration: none;
    color: #5f4625;
}


.whatsapp-link {
    color: #25d366;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.whatsapp-link:hover {
    color: #128c7e;
}


/* Gift Card Section */
.gift-card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    margin: 50px 20px;
}

.gift-card-container {
    max-width: 1200px;
    margin: 0 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.gift-card-image {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.gift-card-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gift-card-image img:hover {
    transform: scale(1.05);
}

.gift-card-content {
    flex: 1 1 400px;
    text-align: left;
}

.gift-card-content h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #8B4513;
    margin-bottom: 20px;
}

.gift-card-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
}

.gift-card-button {
    display: inline-block;
    text-decoration: none;
    background-color: #8B4513;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.gift-card-button:hover {
    background-color: #693007;
}

/* Footer Styles */
footer {
    background-color: #8B4513;
    color: #fff;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

footer h3 {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
}

footer p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #f0dada;
}

footer .address,
footer .open-hours,
footer .follow-us {
    flex: 1 1 200px;
    margin: 20px;
}

footer .follow-us {
    text-align: center;
}

footer .follow-us a {
    margin: 0 10px;
    display: inline-block;
}

footer .follow-us img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

footer .follow-us img:hover {
    transform: scale(1.1);
}

footer .last{
    display: none;
}

.address-link {
    text-decoration: none; 
    font-weight: bold; 
    color: #f0dada;
    transition: all 0.4s;
}

.address-link:hover {
    color: #693007;
}

/* Navigation Overlay */
.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-color: rgba(139, 69, 19, 0.95);
    flex-direction: column;
}

.nav-overlay.active {
    display: flex;
    animation: slideIn 0.5s forwards;
}

.nav-overlay.inactive {
    animation: slideOut 0.5s forwards;
    display: flex;
}

.nav-overlay nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-overlay nav a {
    display: block;
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s ease;
}

.nav-overlay nav a:hover {
    color: #ffb766;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

body.no-scroll {
    overflow: hidden;
}

.media {
    display: none; 
}

/* Slide-in and Slide-out Animations */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@media (max-width: 768px) {
    header > nav {
        display: none;
    }
    header > .column-wrapper {
        display: none;
    }
    header {
        position: static;
        background-color: rgba(139, 69, 19, 0.95);
        width: 100%;
    }
    .menu-icon {
        display: block;
        margin-left: auto;
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    .menu-icon:hover {
        transform: scale(1.1);
    }
    .delivery-hero {
        height: 60vh;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        background-attachment: scroll;
    }
    .delivery-links,
    .pickup-section,
    .gift-card-section {
        margin: 0;
        padding: 5px 20px 30px 20px;
    }
    .delivery-links{
        padding-top: 40px;
    }
    .hr-line {
        margin: 10px 0;
    }
    .delivery-text h1 {
        text-align: center;
        margin: 2px auto 20px;
    }
    .delivery-container {
        max-width: 110%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        max-height: 600px;
    }
    .delivery-text {
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .delivery-text ul {
        font-size: 26px;
    }
    .delivery-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        margin-top: 20px;
        max-height: fit-content;
    }
    .delivery-card {
        flex: 1 1 calc(50% - 32px);
        max-width: 220px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
    }
    .delivery-card img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .pickup-container {
        max-width: 110%;
        margin: 10px auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        max-height: 640px;
        margin-bottom: 40px;
    }
    .pickup-content {
        order: 1;
    }
    .pickup-image {
        order: 2;
    }
    .pickup-content h1 {
        text-align: center;
        margin: 20px auto;
    }
    .pickup-content ul {
        font-size: 26px;
    }
    .gift-card-container {
        max-width: 110%;
        margin: 30px auto 30px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        max-height: 540px;
    }
    .gift-card-content {
        order: 1;
    }
    .gift-card-image {
        order: 2;
    }
    .gift-card-content h1 {
        text-align: center;
        margin: 2px auto 20px;
    }
    .gift-card-content p {
        font-size: 25px;
        text-align: center;
    }
    .gift-card-content a {
        font-size: 26px;
    }
    .gift-card-button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        margin-bottom: 14px;
    }
    .todos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer .address,
    footer .open-hours,
    footer .follow-us {
        display: none;
    }
    .media {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;
    }
    .media a img {
        width: 26px;
        height: auto;
    }
    footer .last {
        display: block;
    }
}
